<section class="container">
  <div class="row d-flex flex-column justify-content-between">
    <h3 class="text-center">Formulaire d'offre d'emploi</h3>
    {% dump(advertForm.vars.value) %}

    {{ form_start(advertForm, {'attr': {'class': 'needs-validation'}}) }}

      <div class="md-form form-group">
        <label>Titre de l'offre</label>
        {{ form_widget(advertForm.title) }}
        <div class="invalid-feedback">Longueur 10-255 caractères</div>
      </div>

      <div class="md-form form-group">
        <label>Description de l'offre</label>
        {{ form_widget(advertForm.content) }}
        <div class="invalid-feedback">Longueur minimale 10 caractères</div>
      </div>

      <div class="md-form form-group">
        <label>Selectionnez une ville pour cette offre</label>
        <input type="search" id="advert-form-city" class="form-control ui-autocomplete-input">
      </div>

      <div class="md-form form-group">
        <label for="referentiel-activity-input">Selectionnez le metier </label>
        <input type="search" id="referentiel-activity-input" class="form-control ui-autocomplete-input">
      </div>

      <div class="md-form form-group">
        <label>Code Rome</label>
        {{ form_widget(advertForm.codeRome) }}
        <div class="invalid-feedback">Longueur minimale 10 caractères</div>
      </div>

      <div class="md-form form-group">
        <label>Code Ogr</label>
        {{ form_widget(advertForm.codeOgr) }}
        <div class="invalid-feedback">Longueur minimale 10 caractères</div>
      </div>

      <div class="md-form form-group">
        <label>Salaire horaire brut</label>
        {{ form_widget(advertForm.grossSalaryPerHour) }}
        <div class="invalid-feedback">Longueur minimale 10 caractères</div>
      </div>

      <div class="md-form form-group">
        <label>Nombres d'heures par hebdomadaire</label>
        {{ form_widget(advertForm.hourPerWeek) }}
        <div class="invalid-feedback">Longueur minimale 10 caractères</div>
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-default btn-rounded waves-effect" type="submit" id="advert_validation_button"><i class="fas fa-cloud-upload-alt fa"> </i> {{ editMode ? "Enregistrer les modifications" : "Poster l'offre" }}</button>
      </div>

    {{ form_end(advertForm) }}
  </div>
</section>