{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Ajouter une offre d'emploi{% endblock %}

{% block body %}

  <h2 class="text-center">Ajouter une offre d'emploi</h2>

  {{ include("Form/advertForm.html.twig") }}

  <p>
    <a href="{{ path('advert_homepage', {'page': 1}) }}" class="btn btn-default btn-rounded"><i class="fas fa-home fa"></i> Retour à l'acceuil</a>
  </p>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $(document).ready(function() {
      $('.mdb-select').material_select();
      $('input#input_text, textarea#advert_content').characterCounter();
      $(".select-wrapper").removeClass("form-control");
      $("#grandDomaine ul li span").on("click", function() {
        $("#domaineProfessionel").remove();
        $("#referentielCodeRome").remove();
        setTimeout(function() {
          $('#advert_validation_button').click();
        }, 50);
      });
      $("#domaineProfessionel ul li span").on("click", function() {
        $("#referentielCodeRome").remove();
        setTimeout(function() {
          $('#advert_validation_button').click();
        }, 50);
      });
      $( function() {
        $( "#referentiel-activity-input" ).autocomplete({
          source: "{{ path('referentielAppellation') }}",
          minLength: 1,
          select: function (event, ui) {
            console.log(ui);
            $("#referentiel-activity-input").val(ui.item.id);
          }
        });
      } );
    });
  </script>
{% endblock %}