{% extends "advert/base.html.twig" %}

{% block title %}
    {{ parent() }} - Consulter les offres
{% endblock %}

{% block advert_body %}
    {% dump(totalItem) %}
    <h2>Liste des offres</h2>

    <ul>
        {% for advert in listAdverts %}
            <li><a href="{{ path('advert_view', {'id': advert.id}) }}">{{ advert.title }}</a> publié le {{ advert.createdAt | date('d/m/Y') }}</li>
        {% else %}
            <li><p class="text-center">Désolé, aucune annonce ne correspond a votre recherche</p></li>
        {% endfor %}
    </ul>

    {{ render(controller("App\\Controller\\AdvertController::menuAction")) }}

{% endblock %}