{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} - Offre n°{{ advert.id }} - {{ advert.title }} 
{% endblock %}

{% block body %}
  {# dump(textes) #}
  <a href="{{ path('advert_homepage') }}" class="btn btn-outline-default btn-rounded waves-effect">
    <i class="fas fa-chevron-left"></i>
    Retour à la liste
  </a>

  <p class="d-flex justify-content-end">Par {{ advert.author }}, le {{ advert.createdAt|date('d/m/Y') }}</p>
  <h2 class="text-center">{{ advert.title }}</h2>

  <div class="well">
    <h4>Description</h4>
    <p>{{ advert.content }}</p>

    <h4>Grand Domaine</h4>
    <p>{# advert.GrandDomaine.libelleGrandDomaine #}</p>

    <h4>Domaine professionel</h4>
    <p>{# advert.domaineProfessionel.libelleDomaineProfessionnel #}</p>

    <h4>Libellé rome</h4>
    <p>{# advert.referentielCodeRome.libelleRome #}</p>

    {# code_rome display texts #}
    {# for i in 1..3 %}
      <h4>{% if i < 2 %}Définition{% elseif i < 3 %}Condition d'accès à l'emploi{% else %}Condition d'exercice de l'activité{% endif %}</h4>
      {% for texte in textes %}
        <p>{{ texte.codeTypeTexte is same as(i) ? texte.libelleTexte }}</p>
      {% endfor %}
    {% endfor #}
  </div>

  <div class="d-flex justify-content-end">
    <a href="{{ path('advert_homepage') }}" class="btn btn-outline-default btn-rounded waves-effect">
      <i class="fas fa-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('advert_edit', {'id': advert.id}) }}" class="btn btn-outline-default btn-rounded waves-effect">
      <i class="fas fa-edit"></i>
      Modifier l'offre
    </a>
    <a href="{{ path('advert_delete', {'id': advert.id}) }}" class="btn btn-outline-danger btn-rounded waves-effect">
      <i class="fas fa-trash-alt"></i>
      Supprimer l'offre
    </a>
  </div>


  {# if listApplications | length > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">n°</th>
          <th scope="col">Candidat</th>
          <th scope="col">Candidature</th>
          <th scope="col">date</th>
        </tr>
      </thead>
      <tbody>
        {% for application in listApplications %}
          <tr>
            <th scope="col">{{ loop.index }}</th>
            <td scope="col">{{ application.author }}</td>
            <td scope="col">{{ application.content }}</td>
            <td scope="col">{{ application.date | date("d/m/Y") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif #}
{% endblock %}